/* global reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  padding: 0;
}

/* custome props */

:root {
  --clr-black: 230 35% 7%;
  --clr-blue-light: 231 77% 90%;
  --clr-white: 0 0% 100%;

  /* Typography */
  --fs-900: clamp(8rem, 8vw + 1.6rem, 15rem);
  --fs-800: 10rem;
  --fs-700: 5.6rem;
  --fs-600-main: 3.2rem;
  --fs-600-second: 3.2rem;
  --fs-500-main: 2.8rem;
  --fs-500-second: 2.8rem;
  --fs-400: 1.8rem;
  --fs-300-main: 1.6rem;
  --fs-300-second: 1.6rem;
  --fs-200: 1.4rem;

  /* font-families */
  --ff-serif: 'Bellefair', serif;
  --ff-sans-cond: 'Barlow Condensed', sans-serif;
  --ff-sans-normal: 'Barlow', sans-serif;
}
@media (max-width: 768px) {
  :root {
    --fs-800: 8rem;
    --fs-700: 4rem;
    --fs-600-second: 2.4rem;
    --fs-500-second: 2rem;
    --fs-400: 1.6rem;
    --fs-300-main: 1.4rem;
    --fs-200: 1.4rem;
  }
}
@media (max-width: 500px) {
  :root {
    --fs-800: 5.6rem;
    --fs-700: 2.4rem;
    --fs-600-main: 2rem;
    --fs-600-second: 1.6rem;
    --fs-500-second: 1.6rem;
    --fs-400: 1.5rem;
    --fs-300-main: 1.6rem;
    --fs-300-second: 1.4rem;
    --fs-200: 1.4rem;
  }
}

/* font size reset */
html {
  font-size: 62.5%;
}

/* body setup */
body {
  line-height: 1.5;
  min-height: 100vh;
  font-size: var(--fs-400);
  font-weight: 400;
  font-family: var(--ff-sans-normal);
  background: hsl(var(--clr-black));
  color: hsl(var(--clr-white));
  background-repeat: no-repeat;
  background-size: cover;
}

/* this makes images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* remove animation for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

h1,
h2,
h3,
h4 {
  line-height: 1.1;
}
span {
  display: inline-block;
}

/* ------------------- */
/* UTILS */
/* ------------------- */
.container {
  padding-inline: 3.2em;
  margin-inline: auto;
  max-width: 120.8rem;
}
.d-flex {
  display: flex;
  gap: var(--flex-g, 1rem);
}
.d-grid {
  display: grid;
  column-gap: var(--g-c-gap, 1rem);
  row-gap: var(--g-r-gap, 1rem);
}
.d-block {
  display: block;
}
/* LAYOUT FLOW */
.flow-y > *:where(:not(:first-child)) {
  margin-top: var(--flow-y-space, 1rem);
}
.flow-y--small {
  --flow-y-space: 2.4rem;
}
.flow-y--medium {
  --flow-y-space: 4.2rem;
}
.flow-y--large {
  --flow-y-space: 5.6rem;
}
.flow-x > *:where(:not(:first-child)) {
  margin-left: var(--flow-x-space, 1rem);
}
.flow-x--small {
  --flow-x-space: 2.4rem;
}
.flow-x--medium {
  --flow-x-space: 4.2rem;
}
.flow-x--large {
  --flow-x-space: 5.6rem;
}
/* TYPOGRAPHY */
.ff-serif {
  font-family: var(--ff-serif);
}
.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}
.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}
.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}
.letter-spacing-1 {
  letter-spacing: 4.725px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.362px;
}

/* colors */

.bg-dark {
  background-color: hsl(var(--clr-black));
}
.bg-accent {
  background-color: hsl(var(--clr-blue-light));
}
.bg-white {
  background-color: hsl(var(--clr-white));
}

.text-dark {
  color: hsl(var(--clr-black));
}
.text-accent {
  color: hsl(var(--clr-blue-light));
}
.text-white {
  color: hsl(var(--clr-white));
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* ------------------- */
/* HEADER */
/* ------------------- */
.primary-header {
  padding-block: 3.5rem;
  padding-left: 5.5rem;
  justify-content: space-between;
  align-items: center;
}
.logo {
  max-width: 48px;
  min-width: 40px;
  margin: clamp(2.4rem, 1vw, 3rem) 0;
}
.primary-navigation {
  align-items: center;
  gap: 5rem;
  list-style: none;
  padding-inline: clamp(4.8rem, 6vw + 1rem, 9.3rem)
    clamp(4.8rem, 10vw + 1rem, 16.7rem);
  background-color: hsl(var(--clr-white) / 0.1);
  backdrop-filter: blur(1.2rem);
}
.primary-navigation a:link,
.primary-navigation a:visited {
  color: hsl(var(--clr-white));
  text-decoration: none;
  font-size: var(--fs-300-main);
  display: inline-block;
  padding-block: 3rem;
}
.primary-navigation a span {
  font-weight: 700;
  margin-right: 1.1rem;
}

@media (max-width: 768px) {
  .primary-header {
    padding-block: 0;
    padding-left: 2.4rem;
  }
  .primary-navigation {
    gap: 3rem;
  }
}

.home {
  background-image: url('../assets/home/background-home-desktop.jpg');
}
@media (max-width: 768px) {
  .home {
    background-image: url('../assets/home/background-home-tablet.jpg');
  }
}
@media (max-width: 768px) {
  .home {
    background-image: url('../assets/home/background-home-mobile.jpg');
  }
}
/* ------------------- */
/* NOT FOUND PAGE */
/* ------------------- */
.error-page {
  min-height: 100vh;
  display: grid;
  place-content: center;
  text-align: center;
}
.error-page > *:where(:not(:first-child)) {
  margin-top: 2rem;
}
.error-page h1 {
  font-size: 4rem;
  font-weight: 700;
}
.error-page p:first-of-type {
  font-weight: 700;
  letter-spacing: 2px;
}
