/* ------------------- */
/* HEADER DESKTOP */
/* ------------------- */
.primary-header {
  padding-block: 2.5rem;
  padding-left: 4.5rem;
  justify-content: space-between;
  align-items: center;
}
.logo {
  max-width: 48px;
  min-width: 40px;
  margin: clamp(2.4rem, 1vw, 3rem) 0;
}
.primary-navigation {
  align-items: center;
  gap: 5rem;
  list-style: none;
  padding-inline: clamp(4.8rem, 12vw, 16.7rem);
  background-color: hsl(var(--clr-white) / 0.05);
  backdrop-filter: blur(2.4rem);
  font-family: var(--ff-sans-cond);
  position: relative;
}
.primary-navigation::before {
  content: '';
  position: absolute;
  display: block;
  width: 55%;
  height: 1px;
  background-color: hsl(var(--clr-white) / 0.25);
  left: -50%;
}
.primary-navigation a:link,
.primary-navigation a:visited {
  color: hsl(var(--clr-white));
  text-decoration: none;
  font-size: var(--fs-300-main);
  display: inline-block;
  padding-block: 3rem;
}
.primary-navigation a span {
  font-weight: 700;
  margin-right: 1.1rem;
}
.underline-indicators a {
  cursor: pointer;
  border: 0;
  border-bottom: 0.3rem solid hsl(var(--clr-white) / 0);
  background-color: transparent;
  transition: all 0.2s ease-in;
}
.underline-indicators a:hover,
.underline-indicators a:focus {
  border-color: hsl(var(--clr-white) / 0.5);
}
.underline-indicators a.active {
  border-color: hsl(var(--clr-white));
}
/* HEADER TABLET */
@media (max-width: 870px) {
  .primary-header {
    padding-block: 0;
    padding-left: 2.4rem;
    align-items: flex-start;
  }
  .primary-navigation {
    gap: 3rem;
  }
  .primary-navigation::before {
    display: none;
  }
}
@media (min-width: 670px) and (max-width: 870px) {
  .primary-navigation a > span {
    display: none;
  }
}
/* HEADER MOBILE */
@media (max-width: 670px) {
  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 2000;
    right: 1.6rem;
    top: 3.2rem;
    background: transparent;
    background-image: url('../assets/shared/icon-hamburger.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 2.4rem;
    aspect-ratio: 1;
    border: 0;
  }
  .mobile-nav-toggle[aria-expanded='true'] {
    background-image: url('../assets/shared/icon-close.svg');
  }

  .mobile-nav-toggle:focus-visible {
    outline: 5px solid white;
    outline-offset: 5px;
  }
  .primary-navigation {
    position: fixed;
    transform: translateX(100%);
    z-index: 1000;
    align-items: flex-start;
    flex-direction: column;
    gap: 0;
    padding-inline: 0;
    transition: all 0.2s;
    padding-block: min(20rem, 15vh);
    padding-left: 5.2rem;
    padding-right: 9rem;
    height: 100%;
  }
  .primary-navigation.underline-indicators a {
    border: none;
    padding-block: 1.8rem;
  }

  .primary-navigation[data-visible='true'] {
    transform: translateX(0);
    right: 0;
  }
}
